*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
    background-color: #FDE68A;
    padding: 50px;
    
}
.header h1{
    color: #78350F;
}

.menu{
    text-align: center;
    background-color: #FED7AA;
    padding: 20px;
    margin: 20px;
}
.menu a{
    color: #78350F;
    text-decoration: none;
    margin: 5px;
}
.menu a:hover{
    margin: 0 12px;
    text-decoration: none;
    color: #7c2d12;
    font-weight: 600;
    transition: 0.3s;
    background-color: #7c2d12;
}