/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* phần đầu */
header{
    background-color: #1E1E1E;
    height: 97px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;    
}
header h1{
    color: #D4AF37;
    font-weight: 700;
}
header nav a{
    color: #DDDDDD;
    text-decoration: none;
    font-size: 17.4px;
    font-weight: 700;
    margin: 10px;
}
/* Phần thân */
main{
    display: flex;
    gap: 20px;
    background-color: #ffffff;
}
main div{
    height: 500px;
    border-radius: 15px;
}
.menu h2{
    color: #D4AF37;
    font-weight: 700;
    padding: 20px;
}
/* phần chân */
footer{

}