*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background:#ffffff;
    min-height:100vh;
    position:relative;
    padding-bottom:50px; 
}


header{
    width:100%;
    height:60px;
    background:#c0392b;
    position:relative;
}

.logo{
    position:absolute;
    left:80px;
    top:0px;
    line-height:60px;
    font-size:22px;
    font-weight:bold;
    color:#ffffff;
}

nav{
    position:absolute;
    right:80px;
    top:0px;
    line-height:60px;
}

nav a{
    color:#ffffff;
    text-decoration:none;
    margin-left:25px;
    font-size:13px;
}

.banner{
    width:100%;
    padding-top:60px;
    padding-bottom:80px;
}

.container{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.banner-text{
    width:420px;
    display:inline-block;
    vertical-align:middle;
    text-align:left;
}

.banner-text h1{
    font-size:28px;
    margin-bottom:12px;
    color:#333333;
}

.banner-text p{
    font-size:12px;
    color:#666666;
    line-height:20px;
}

.banner-img{
    width:520px;
    display:inline-block;
    vertical-align:middle;
    text-align:right;
}

.banner-img img{
    width:390px;
    border-radius:12px;
}


.menu{
    width:100%;
    padding-top:20px;
    padding-bottom:60px;
    text-align:center;
}

.menu h2{
    font-size:16px;
    color:#e74c3c;
    margin-bottom:35px;
}

.food-list{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.food-item{
    width:240px;
    display:inline-block;
    background:#fff8f0;
    border-radius:10px;
    margin-left:15px;
    margin-right:15px;
    padding-bottom:15px;
    vertical-align:top;
}

.food-item img{
    width:240px;
    height:160px;
    object-fit:cover;
    border-radius:10px 10px 0px 0px;
}

.food-item h3{
    margin-top:10px;
    font-size:13px;
    color:#333333;
}

.food-item p{
    margin-top:4px;
    font-size:12px;
    color:#e74c3c;
    font-weight:bold;
}


footer{
    width:100%;
    height:50px;
    background:#2c2c2c;
    color:#ffffff;
    text-align:center;
    line-height:50px;
    font-size:12px;

    position:absolute;
    bottom:0px;
    left:0px;
}
