*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f5f9;
}


main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORM */
form{
    width: 600px;                
    max-height: 90vh;       
    overflow-y: auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* tiêu đề */
form h1{
    text-align: center;
    margin-bottom: 10px;
}

form > p{
    text-align: center;
    color: #666;
    margin-bottom: 25px;
}

/* label + input */
label{
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    outline: none;
    margin-bottom: 15px;
}

input:focus{
    border-color: #2f6bff;
}

/* Họ tên: 2 cột desktop */
.fullname{
    display: flex;
    flex-direction: column;
}

/* gom họ tên thành hàng ngang */
.name-group{
    display: flex;
    gap: 15px;
}

.name-group div{
    flex: 1;
}

/* button */
button{
    width: 100%;
    padding: 12px;
    background: #2f6bff;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background: #1f57d6;
}

form > p:last-child{
    text-align: center;
    margin-top: 15px;
}

form a{
    color: #2f6bff;
    font-weight: bold;
}

@media (max-width: 768px){
    form{
        width: 90%;
        padding: 20px;
    }

    .name-group{
        flex-direction: column;
    }
}
