h1{
    background-color: rgb(151, 240, 206);
    color: rgb(18, 131, 87) ;
}
.dashbarmain a:hover{
    color: white;
    text-decoration: none;
    background: rgb(160, 226, 252);
}

.dashbarmain {
    background-color: rgb(126, 207, 231);
    padding: 5px;
    text-align: center;
}


.dashbarmain a,
.dashbarmain a:link,
.dashbarmain a:visited {
    padding: 5px;
    text-decoration: none; 
    color: #0066cc;
    font-weight: bold;
}  
body{
    background-color: rgb(223, 240, 243);
}

footer{
    text-align: center;
    background-color: rgb(70, 253, 223);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightblue;
    text-align: center;
}

tr:hover td {
    background-color: #e0f4ff;
}

form{
    text-align: center;
}
input:focus,
select:focus,
textarea:focus {
    background-color: cyan;
    outline: none;            
}
.submit{
    background-color: green;
}