body{
background:white;
color:black;
font-family:Arial;
padding:30px;
transition:0.3s;
}

.dark body{
background:#121212;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

button{
font-size:20px;
padding:10px;
cursor:pointer;
}

img{
width:400px;
margin-top:20px;
}