* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f7;
    padding: 50px 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: 24px;
    color: #1a1a1a;
}

.see-all {
    color: #49bbbd;
    text-decoration: none;
    font-weight: 600;
}

.card-grid {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.225);
    transition: transform 0.3s ease;
    background: #fff;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image img {
    object-fit: cover;
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    height: 200px;
}

.card-content {
    padding: 15px 20px 25px;
}

.card-meta {
    display: flex;
    justify-content: space-between;
    color: #717171;
    font-size: 13px;
    align-items: center;
    flex-direction: column;
}
.card-meta-mini img{
    height: 15px;
}
.card-meta-mini{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
}

.card-title {
    font-size: 18px;
    color: #252641;
    margin-bottom: 15px;
    line-height: 1.4;
}

.card-text {
    font-size: 14px;
    color: #696984;
    line-height: 1.6;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.author-name {
    font-weight: 600;
    color: #252641;
    font-size: 14px;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.old {
    text-decoration: line-through;
    color: #a0a0a0;
    font-size: 14px;
}

.new {
    color: #49bbbd;
    font-weight: 700;
    font-size: 18px;
}
.gap{
    gap: 2px;
    height: 22px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}